<nav class="navbar main-nav shadow-sm">
    <div class="container nav-content">

        <!-- Brand: Identidad SoySí[cite: 17] -->
        <a class="brand-link" routerLink="/home">
            <div class="brand-icon">S</div>
            <h1 class="brand-text">Soy<span class="text-yellow">Sí</span></h1>
        </a>

        <!-- Perfil: Feedback visual de Rol[cite: 17] -->
        <div class="profile-container" [routerLink]="'/perfil'">
            <div class="avatar" [class.stock-mode]="esStockActivo">
                <span class="initials">{{ inicial }}</span>
                <!-- Badge de rol para Stock -->
                <div class="role-badge" *ngIf="esStockActivo">
                    <i class="bi bi-box-seam-fill"></i>
                </div>
            </div>
        </div>

    </div>
</nav>